<!-- Header/Hero Section -->
<header class="hero main-bg">
  <div class="container">
    <div class="flex">
      <div class="hero-text">
        <h1 class="blue-text">Contact Us</h1>
        <h2>Home . Pages <span class="pink-text">. Contact Us</span></h2>
      </div>
    </div>
  </div>
</header>

<section class="contact-page">
  <div class="container">
    <div class="first-row">
      <div class="information-about-us">
        <h2 class="blue-text">Information About us</h2>
        <p class="grey-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi iusto
          vero praesentium ipsam corrupti ut ducimus voluptatem odit laborum,
          hic nostrum et totam vitae nobis velit neque expedita itaque eius.
        </p>
        <div>
          <img src="assets/img/contact us/Ellipse 44.png" alt="" />
          <img src="assets/img/contact us/Ellipse 45.png" alt="" />
          <img src="assets/img/contact us/Ellipse 46.png" alt="" />
        </div>
      </div>

      <div class="contact-way">
        <h2 class="blue-text">Contact Way</h2>
        <div class="contact-way-list">
          <div>
            <img src="assets/img/contact us/Ellipse 44.png" alt="" />
            <div>
              <p class="grey-text">Tel: 877-67-88-99</p>
              <p class="grey-text">E-Mail: shop@store.com</p>
            </div>
          </div>
          <div>
            <img src="assets/img/contact us/Ellipse 45.png" alt="" />
            <div>
              <p class="grey-text">Support Forum</p>
              <p class="grey-text">For over 24hr</p>
            </div>
          </div>
          <div>
            <img src="assets/img/contact us/Ellipse 46.png" alt="" />
            <div>
              <p class="grey-text">20 Margaret st, London</p>
              <p class="grey-text">Great britain, 3NM98-LK</p>
            </div>
          </div>
          <div>
            <img src="assets/img/contact us/Ellipse 47.png" alt="" />
            <div>
              <p class="grey-text">Free standard shipping</p>
              <p class="grey-text">on all oders.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="second-row">
      <div class="get-in-touch">
        <h2 class="blue-text">Get In Touch</h2>
        <p class="grey-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem a
          reprehenderit nam placeat delectus voluptatem perspiciatis laborum
          eligendi iure accusamus.
        </p>
        <div class="login-form">
          <form>
            <div class="name-and-email">
              <input type="text" placeholder="Your Name*" />
              <input type="email" placeholder="Your E-mail" />
            </div>
            <input type="text" placeholder="Subject*" />
            <textarea cols="30" rows="10">Type Your Message*</textarea>
            <button>Send Mail</button>
          </form>
        </div>
      </div>

      <img src="assets/img/contact us/Group 124.svg" alt="" />
    </div>
  </div>
</section>
