<header>
  <div class="nav-bar">
    <div class="nav-bar-contents">
      <!-- NAV-BAR-LEFT-SECTION -->
      <div class="nav-bar-left">
        <!-- Logo -->

        <h2><strong>NTTDATA</strong></h2>

        <!-- HOME BUTTON -->
        <div class="nav-bar-left-home">
          <a routerLink="/home" class="nav-bar-home">Home</a>
        </div>
        <!-- PAGES BUTTON -->
        <div class="nav-bar-left-pages">
          <a routerLink="/aboutus" class="nav-bar-pages">About</a>
        </div>
        <!-- PRODUCTS BUTTON -->
        <div class="nav-bar-left-products">
          <a routerLink="/products"  class="nav-bar-products" >Products</a>
        </div>
        <!-- SHOP BUTTON -->
        <div class="nav-bar-left-shop">
          <a routerLink="/shopDefault" class="nav-bar-shop">Shop</a>
        </div>
        <!-- CONTACT BUTTON -->
        <div class="nav-bar-left-contact">
          <a routerLink="/contactus" class="nav-bar-contact">Contact</a>
        </div>
      </div>

      <!-- NAV-BAR-RIGHT-SECTION -->
      <div class="nav-bar-right">
        <input
          type="text"
          id="searchInput"
          class="searchInput"
          name="searchInput"
        />
        <button class="searchBtn">
          <img src="../../assets/icons/search.png" alt="" />
        </button>
      </div>
    </div>
  </div>
</header>
