<header>
  <div class="heading-bar">
    <div class="heading-bar-contents">
      <!-- HEADING-BAR-LEFT-SECTION -->
      <div class="heading-bar-left">
        <!-- EMAIL -->
        <div class="heading-bar-email">
          <img
            src="../../assets/icons/email.png"
            class="heading-email-icn"
            alt=""
          />
          <a href="mailto:mhhasanul@gmail.com">abouziki@emeal.nttdata.com</a>
        </div>
        <!-- PHONE -->
        <div class="heading-bar-phone">
          <img
            src="../../assets/icons/phone.png"
            class="heading-phone-icn"
            alt=""
          />
          <a href="tel:+(12345)67890">(+212)623796014</a>
        </div>
      </div>
      <!-- HEADING-BAR-RIGHT-SECTION -->
      <div class="heading-bar-right">
        <!-- LANGUAGE -->
        <div class="heading-bar-language">
          <button class="heading-bar-language-btn">
            <select>
              <option class="heading-down-icn"><p>English</p></option>
              <option class="heading-down-icn"><p>French</p></option>
              <option class="heading-down-icn"><p>Arabic</p></option>
            </select>
          </button>
        </div>
        <!-- CURRENCY -->
        <div class="heading-bar-currency">
          <button class="heading-bar-currency-btn">
            <select>
              <option class="heading-down-icn"><p>USD</p></option>
              <option class="heading-down-icn"><p>EU</p></option>
              <option class="heading-down-icn"><p>DH</p></option>
            </select>
          </button>
        </div>
        <!-- USER ACCOUNT -->
        <div class="heading-bar-account">
          <button class="heading-bar-user-btn">
            <a routerLink="/login">Login</a>
            <img
              src="../../assets/icons/user.png"
              class="heading-user-icn"
              alt=""
            />
          </button>
        </div>
        <!-- WISH LIST -->
        <div class="heading-bar-wishlist">
          <button class="heading-bar-wishlist-btn"  routerLink="/shopLeft" >
            <p>Wishlist</p>
            <img
              src="../../assets/icons/heart-white.png"
              class="heading-white-icn"
              alt=""
            />
          </button>
        </div>
        <!-- CART -->
        <div class="heading-bar-cart" routerLink="/shopDefault" >
          <img
            src="../../assets/icons/cart.png"
            class="heading-cart-icn"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</header>
