    <!-- Header/Hero Section -->
    <header class="hero main-bg">
      <div class="container">
          <div class="flex">
              <div class="hero-text">
                  <h1 class="blue-text">About Us</h1>
                  <h2>Home . Pages <span class="pink-text">. About Us</span></h2>
              </div>
          </div>
      </div>
  </header>

  <!-- About Us -->
  <section class="about-us">
      <div class="container">
          <img src="assets/images/about us/Group 73.png" alt="">
          <div>
              <h2 class="blue-text">Know About Our Ecommerce Business, History</h2>
              <p class="grey-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam magni aliquid, praesentium fuga eaque nihil iste natus quo adipisci saepe ullam non autem culpa excepturi</p>
              <button>Contact us</button>
          </div>
      </div>
  </section>

       <!-- Shopex -->
       <section class="shopex">
        <div class="container">
            <h2 class="main-header-text">Our Features</h2>
            <div class="flex">
                <div class="small-card">
                    <img src="assets/images/free-delivery 1.png" alt="">
                    <div class="text">
                        <h3 class="main-header-text">Free Delivery</h3>
                        <p class="grey-text">Lorem ipsum, dolor sit amet
                             consectetur adipisicing elit. Explicabo, aperiam.</p>
                    </div>
                </div>
                <div class="small-card" id="active-card">
                    <img src="assets/images/cashback 1.png" alt="">
                    <div class="text">
                        <h3 class="main-header-text">100% Cash Back</h3>
                        <p class="grey-text">Lorem ipsum, dolor sit amet
                             consectetur adipisicing elit. Explicabo, aperiam.</p>
                    </div>
                </div>
                <div class="small-card">
                    <img src="assets/images/premium-quality 1.png" alt="">
                    <div class="text">
                        <h3 class="main-header-text">quality Product</h3>
                        <p class="grey-text">Lorem ipsum, dolor sit amet
                             consectetur adipisicing elit. Explicabo, aperiam.</p>
                    </div>
                </div>
                <div class="small-card">
                    <img src="assets/images/24-hours-support 1.png" alt="">
                    <div class="text">
                        <h3 class="main-header-text">24/7 Support</h3>
                        <p class="grey-text">Lorem ipsum, dolor sit amet
                             consectetur adipisicing elit. Explicabo, aperiam.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- What our clients say -->
    <section class="testimony">
        <div class="container">
            <h2>Our Client Say!</h2>
            <img src="assets/images/about us/Group 200.png" alt="">
            <div class="client">
                <h3>Selina Gomez</h3>
                <p class="grey-text">Ceo at webecy digital</p>
            </div>
            <p class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, voluptate itaque doloremque laudantium omnis vero. Animi quas suscipit nobis sit error earum enim! Sint at dolores, tempora dicta rerum id.</p>
        </div>
    </section>

